@tailwind base;
@tailwind components;
@tailwind utilities;



.dark {
  --background: #101214; /* Dark theme background */
  --foreground: #FFFFFF; /* Dark theme foreground (text) */
}


body {
  color: var(--foreground);
  background: var(--background);
}

@keyframes blobAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.7;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.7;
  }
}

.blob-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  background: rgba(0, 153, 255, 0.4); /* Blue color with transparency */
  border-radius: 50%;
  animation: blobAnimation 6s infinite ease-in-out;
  z-index: 1;
  pointer-events: none; /* Allow interactions with other elements */
}
